/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    background-color: #2b2b2b;
    color: white;
    margin: 0;
}

header {
    position: fixed; /* Fijo en la parte superior */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; /* Asegurar que esté sobre el contenido */
    background-color: #545454;
    color: #ffda2d;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

header h1 {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0 0 10px #ffd700, 0 0 20px #ffda2d;
}

footer {
    position: fixed; /* Fijo en la parte inferior */
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #1f1f1f;
    color: #c4c4c4;
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
    
}
/* Swiper */
.swiper {
    height: calc(100vh - 50px - 50px); /* Restar header y footer */
}


.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centrar las tarjetas verticalmente */
    height: calc(100vh - 100px); /* Ajusta el tamaño para incluir header y footer */
    overflow-y: hidden; /* Evita el scroll si no es necesario */
}



.round {
    margin-top: 60px; /* Compensar la altura del header fijo */
    padding: 20px; /* Espacio adicional alrededor */
    box-sizing: border-box;
}

/* Estilos para el título (h2) */
.round h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffda2d;
    text-align: center;
    text-shadow: 0 0 5px #ffda2d, 0 0 10px rgba(255, 255, 255, 0.8);
}


/* Tarjetas personalizadas */
.card.red {
    background: linear-gradient(145deg, #e74c3c, #c0392b); /* Rojo degradado */
}

.card.blue {
    background: linear-gradient(145deg, #3498db, #2980b9); /* Azul degradado */
}

.card.green {
    background: linear-gradient(145deg, #2ecc71, #27ae60); /* Verde degradado */
}

.card.yellow {
    background: linear-gradient(145deg, #ffc371, #ff9a3f); /* Naranja claro degradado */
}

/* Configurar el grid de 2x2 para las tarjetas */
.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas iguales */
    gap: 20px; /* Espaciado entre las tarjetas */
    width: 100%;
    max-width: 600px; /* Ancho máximo para el grid */
    margin: 0 auto; /* Centrar el grid horizontalmente */
}

/* Tarjetas */
.card {
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background-color: #3b3b3b;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05); /* Efecto de zoom */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}




.card h3 {
    margin: 0;
    color: #2b2b2b;
}

.card p {
    font-size: 1.2rem; /* Reducir tamaño del texto */
    font-weight: bold;
    color: white;
    margin: 10px 0;
    border: 2px solid #ffd700; /* Borde dorado */
    border-radius: 10px;
    padding: 5px; /* Espaciado interno reducido */
    background: linear-gradient(145deg, #3b3b3b, #4b4b4b);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.card p.updated {
    animation: pulse 0.8s infinite; /* Efecto de animación para puntos actualizados */
    color: #ffd700; /* Amarillo dorado */
    border-color: #ffffff; /* Cambia el borde temporalmente */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}



.card button {
    padding: 8px 12px;
    font-size: 1rem;
    border: none;
    background-color: #2b2b2b;
    color: yellow;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.swiper-button-next, .swiper-button-prev
{
    display: none;
}


button:hover {
    transform: scale(1.05);
    filter: brightness(1.2);
}

footer p {
    margin: 0;
}

footer a {
    color: #ffda2d; /* Color llamativo para el enlace */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

footer a:hover {
    color: #fff;
    text-shadow: 0 0 5px #ffda2d, 0 0 10px #ffda2d; /* Efecto de brillo en hover */
}

/* Contenedor del logo y el título */
.logo-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px; /* Espaciado entre el logo y el título */
}

/* Logo */
.logo {
    height: 60px;
    object-fit: contain; /* Asegura que el logo no se deforme */
}

